.nav {
    background-color: var(--color-primary);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.nav h1 {
    color: black;
}